@theme inline {
	--animate-infinite-scroll: infinite-scroll var(--duration) infinite linear;
	--animate-infinite-scroll-vertical: infinite-scroll-vertical var(--duration) infinite linear;

	@keyframes infinite-scroll {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}

	@keyframes infinite-scroll-vertical {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(calc(-100% - var(--gap)));
		}
	}
}

/* Animation for shimmer effect in skeleton */
@theme inline {
	--animate-shimmer: shimmer 2s ease-out infinite;
	@keyframes shimmer {
		from {
			background-position: 100% 50%;
		}
		to {
			background-position: 0 50%;
		}
	}
}
