@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
layer(base);

@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
	/* primary */
	--color-primary-50: #f7f5ff;
	--color-primary-100: #e9e5ff;
	--color-primary-200: #ddd6ff;
	--color-primary-300: #c4b8ff;
	--color-primary-400: #9985ff;
	--color-primary-500: #775cff;
	--color-primary-600: #6347eb;
	--color-primary-700: #543bce;
	--color-primary-800: #4732ae;
	--color-primary-900: #291f5c;
	--color-primary-950: #1a1339;

	/* information */
	--color-information-50: #f5faff;
	--color-information-100: #e5f2ff;
	--color-information-200: #d6eaff;
	--color-information-300: #b8dbff;
	--color-information-400: #85c2ff;
	--color-information-500: #5cadff;
	--color-information-600: #3399ff;
	--color-information-700: #007fff;
	--color-information-800: #156bc1;
	--color-information-900: #193d62;
	--color-information-950: #14293d;

	/* success */
	--color-success-50: #f5fff7;
	--color-success-100: #e8fced;
	--color-success-200: #dafbe2;
	--color-success-300: #bff8cd;
	--color-success-400: #8bf9a6;
	--color-success-500: #55f17c;
	--color-success-600: #40dd68;
	--color-success-700: #33cc59;
	--color-success-800: #38a854;
	--color-success-900: #1f5c2e;
	--color-success-950: #143d1f;

	/* error */
	--color-error-50: #fff5f5;
	--color-error-100: #ffe5e5;
	--color-error-200: #ffd6d6;
	--color-error-300: #ffb8b8;
	--color-error-400: #f98b8b;
	--color-error-500: #f25a5a;
	--color-error-600: #eb4747;
	--color-error-700: #da2f2f;
	--color-error-800: #b92727;
	--color-error-900: #621818;
	--color-error-950: #3d1414;

	/* warning */
	--color-warning-50: #fffbf5;
	--color-warning-100: #fff4e5;
	--color-warning-200: #ffeed6;
	--color-warning-300: #ffe1b8;
	--color-warning-400: #ffcc85;
	--color-warning-500: #ffbb5c;
	--color-warning-600: #ffaa33;
	--color-warning-700: #ff9500;
	--color-warning-800: #ca7f16;
	--color-warning-900: #684412;
	--color-warning-950: #3d2c14;

	/* neutral */
	--color-neutral-50: #f7f7f7;
	--color-neutral-100: #f2f2f3;
	--color-neutral-200: #e5e4e7;
	--color-neutral-300: #dadadd;
	--color-neutral-400: #aba9b1;
	--color-neutral-500: #716f7b;
	--color-neutral-600: #54525b;
	--color-neutral-700: #3b3a40;
	--color-neutral-800: #28272b;
	--color-neutral-900: #1d1d20;
	--color-neutral-950: #141415;


	/* extended white */
	--color-white-1: #ffffff;
	--color-white-2: #f7f7f8;
	--color-white-3: #f2f1f3;
	--color-white-4: #eaeaec;
	--color-white-5: #d7d7db;
	--color-white-6: #cac9cf;
	--color-white-7: #bdbcc2;
	--color-white-8: #b0afb6;
	--color-white-9: #a3a1aa;
	--color-white-10: #96949e;
	--color-white-11: #888792;
	--color-white-12: #7b7986;

	/* extended */
	--color-black-1: #7a7887;
	--color-black-2: #6e6c7a;
	--color-black-3: #62606c;
	--color-black-4: #56545f;
	--color-black-5: #494851;
	--color-black-6: #3d3c44;
	--color-black-7: #313036;
	--color-black-8: #252428;
	--color-black-9: #19181b;
	--color-black-10: #141415;
	--color-black-11: #0a0a0b;
	--color-black-12: #000000;

	/* font */
	--heading-font: "Inter Display", system-ui, sans-serif;
	--body-font: "Inter", system-ui, sans-serif;
}

@theme {
	/* primary */
	--color-primary: var(--color-primary-600);
	--color-primary-accent: var(--color-primary-50);
	--color-primary-focus: var(--color-primary-100);
	--color-primary-stroke: var(--color-primary-500);
	--color-primary-hover: var(--color-primary-500);
	--color-primary-text: var(--color-primary-700);

	/* information */
	--color-information: var(--color-information-700);
	--color-information-accent: var(--color-information-50);
	--color-information-focus: var(--color-information-200);
	--color-information-stroke: var(--color-information-400);
	--color-information-hover: var(--color-information-600);
	--color-information-text: var(--color-information-700);

	/* success */
	--color-success: var(--color-success-700);
	--color-success-accent: var(--color-success-50);
	--color-success-focus: var(--color-success-100);
	--color-success-stroke: var(--color-success-600);
	--color-success-hover: var(--color-success-600);
	--color-success-text: var(--color-success-900);

	/* error */
	--color-error: var(--color-error-600);
	--color-error-accent: var(--color-error-50);
	--color-error-focus: var(--color-error-100);
	--color-error-stroke: var(--color-error-500);
	--color-error-hover: var(--color-error-500);
	--color-error-text: var(--color-error-700);

	/* warning */
	--color-warning: var(--color-warning-700);
	--color-warning-accent: var(--color-warning-50);
	--color-warning-focus: var(--color-warning-100);
	--color-warning-stroke: var(--color-warning-600);
	--color-warning-hover: var(--color-warning-600);
	--color-warning-text: var(--color-warning-800);

	/* background */
	--color-bg-level0: var(--color-white-3);
	--color-bg-base: var(--color-white-1);
	--color-bg-level1: var(--color-white-1);
	--color-bg-level2: var(--color-white-1);

	/* foreground */
	--color-text: var(--color-black-9);
	--color-text-secondary: var(--color-black-4);
	--color-text-tertiary: var(--color-black-1);
	--color-text-disabled: var(--color-white-8);


	/* text */
	--color-text-primary: var(--color-black-9);
	--color-text-paragraph: var(--color-black-4);
	--color-text-disabled: var(--color-black-1);
	--color-text-4: var(--color-white-8) ;
	
	/* stroke */
	/* left  */
	--color-border: var(--color-white-4);
	--color-border-alpha:  color-mix(in srgb, var(--color-black-9), transparent 88%); /* 2% opacity */;

	/* fill */
  --color-fill-level1: var(--color-black-9);
  --color-fill-level2: color-mix(in srgb, var(--color-black-9), transparent 96%); 
  --color-fill-level3: color-mix(in srgb, var(--color-black-9), transparent 92%); 
  --color-fill-level4: color-mix(in srgb, var(--color-black-9), transparent 84%);

	/* fill-inverse */
	--color-inverse-fill-level1: color-mix(in srgb, var(--color-white-1), transparent 98%); /* 2% opacity */
	--color-inverse-fill-level2: color-mix(in srgb, var(--color-white-1), transparent 96%); /* 4% opacity */
	--color-inverse-fill-level3: color-mix(in srgb, var(--color-white-1), transparent 92%); /* 8% opacity */
	--color-inverse-fill-level4: color-mix(in srgb, var(--color-white-1), transparent 84%); /* 16% opacity */

	/* static */
	--color-static-white: var(--color-white-1);
	--color-static-black: var(--color-black-9);

	/* inverse */
    --color-inverse-black: var(--color-black-9);
	--color-inverse-white: var(--color-white-1);

	/* Breakpoints */
	--breakpoint-laptop: 90rem;

	/* Animations */
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.1s ease-out infinite;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}

		20%,
		50% {
			opacity: 0;
		}
	}
}

.dark {
	/* primary */
	--color-primary: var(--color-primary-500);
	--color-primary-accent: var(--color-primary-950);
	--color-primary-accent-secondary: var(--color-primary-900);
	--color-primary-focus: var(--color-primary-900);
	--color-primary-stroke: var(--color-primary-800);
	--color-primary-hover: var(--color-primary-400);
	--color-primary-text: var(--color-primary-400);

	/* information */
	--color-information: var(--color-information-600);
	--color-information-accent: var(--color-information-950);
	--color-information-accent-secondary: var(--color-information-900);
	--color-information-focus: var(--color-information-900);
	--color-information-stroke: var(--color-information-800);
	--color-information-hover: var(--color-information-500);
	--color-information-text: var(--color-information-400);

	/* success */
	--color-success: var(--color-success-700);
	--color-success-accent: var(--color-success-950);
	--color-success-accent-secondary: var(--color-success-900);
	--color-success-focus: var(--color-success-900);
	--color-success-stroke: var(--color-success-800);
	--color-success-hover: var(--color-success-500);
	--color-success-text: var(--color-success-400);

	/* error */
	--color-error: var(--color-error-600);
	--color-error-accent: var(--color-error-950);
	--color-error-accent-secondary: var(--color-error-900);
	--color-error-focus: var(--color-error-900);
	--color-error-stroke: var(--color-error-800);
	--color-error-hover: var(--color-error-400);
	--color-error-text: var(--color-error-400);

	/* warning */
	--color-warning: var(--color-warning-700);
	--color-warning-accent: var(--color-warning-950);
	--color-warning-accent-secondary: var(--color-warning-900);
	--color-warning-focus: var(--color-warning-900);
	--color-warning-stroke: var(--color-warning-800);
	--color-warning-hover: var(--color-warning-500);
	--color-warning-text: var(--color-warning-400);

	/* Background */
	--color-bg-base: var(--color-black-10);
	--color-bg-level0: var(--color-black-9);
	--color-bg-level1: var(--color-black-8);
	--color-bg-level2: var(--color-black-7);

	/* foreground */
	--color-text: var(--color-white-1);
	--color-text-secondary: var(--color-white-10);
	--color-text-tertiary: var(--color-black-2);
	--color-text-disabled: var(--color-black-5);

	/* stroke */
	--color-border: var(--color-black-7);
	--color-border-alpha:  color-mix(in srgb, var(--color-white-1), transparent 88%);

	/* fill */
	--color-fill-level1: color-mix(in srgb, var(--color-white-1), transparent 98%); /* 2% opacity */
	--color-fill-level2: color-mix(in srgb, var(--color-white-1), transparent 96%); /* 4% opacity */
	--color-fill-level3: color-mix(in srgb, var(--color-white-1), transparent 92%); /* 8% opacity */
	--color-fill-level4: color-mix(in srgb, var(--color-white-1), transparent 84%); /* 16% opacity */
	

	/* fill-inverse */
	--color-inverse-fill-level1: color-mix(in srgb, var(--color-black-9), transparent 98%); /* 2% opacity */
	--color-inverse-fill-level2: color-mix(in srgb, var(--color-black-9), transparent 96%); /* 4% opacity */
	--color-inverse-fill-level3: color-mix(in srgb, var(--color-black-9), transparent 92%); /* 8% opacity */
	--color-inverse-fill-level4: color-mix(in srgb, var(--color-black-9), transparent 84%); /* 16% opacity */

	/* static */
	--color-static-white: var(--color-white-1);
	--color-static-black: var(--color-black-9);

	/* inverse */
    --color-inverse-black: var(--color-white-1);
	--color-inverse-white: var(--color-black-9);

	--color-text-primary: var(--color-white-1);
	--color-text-paragraph: var(--color-white-10);
	--color-text-disabled: var(--color-black-2);
	--color-text-4: var(--color-black-5) /* static */ --color-static-white: var(--color-white-1);
	--color-static-black: var(--color-black-9);
}

/*
Variable used in website only
*/
@theme {
	--color-hero-fade-gradient-from: hsla(0, 0%, 98%, 0);
	--color-hero-fade-gradient-to: hsla(0, 0%, 98%, 1);

	--animate-float: float 2s ease-in-out infinite;

	@keyframes float {
		0%,
		100% {
			translate: 0 0;
		}
		50% {
			translate: 0 -12px;
		}
	}
}

@utility animation-pause {
	animation-play-state: paused;
}

.dark {
	--color-hero-fade-gradient-from: hsla(260, 6%, 10%, 0);
	--color-hero-fade-gradient-to: hsla(260, 6%, 10%, 1);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility font-heading {
	/* Base typography classes for headings and body */
	font-family: var(--heading-font);
}

@utility font-body {
	font-family: var(--body-font);
}

@utility heading-1 {
	/* Heading styles */
	@apply font-heading text-[2.25rem] leading-[2.75rem] font-bold;

	@media (width >= theme(--breakpoint-sm)) {
		font-size: 3rem;
		line-height: 3.5rem;
	}

	@media (width >= theme(--breakpoint-lg)) {
		font-size: 4rem;
		line-height: 4.5rem;
	}
}

@utility heading-2 {
	@apply font-heading text-[2rem] leading-[2.5rem] font-bold;

	@media (width >= theme(--breakpoint-sm)) {
		font-size: 2.5rem;
		line-height: 3rem;
	}

	@media (width >= theme(--breakpoint-lg)) {
		font-size: 3rem;
		line-height: 3.5rem;
	}
}

@utility heading-3 {
	@apply font-heading text-[1.875rem] leading-[2.375rem] font-bold;

	@media (width >= theme(--breakpoint-sm)) {
		font-size: 2.25rem;
		line-height: 2.75rem;
	}

	@media (width >= theme(--breakpoint-lg)) {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}

@utility heading-4 {
	@apply font-heading text-[1.75rem] leading-[2.25rem] font-bold;

	@media (width >= theme(--breakpoint-sm)) {
		font-size: 1.875rem;
		line-height: 2.375rem;
	}

	@media (width >= theme(--breakpoint-lg)) {
		font-size: 2rem;
		line-height: 2.5rem;
	}
}

@utility heading-5 {
	@apply font-heading text-[1.5rem] leading-[2rem] font-bold;

	@media (width >= theme(--breakpoint-sm)) {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	@media (width >= theme(--breakpoint-lg)) {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

@utility heading-6 {
	@apply font-heading text-[1.25rem] leading-[1.75rem] font-bold;

	@media (width >= theme(--breakpoint-sm)) {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	@media (width >= theme(--breakpoint-lg)) {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
}

/* @utility text-lg { */
/* Body text styles */
/* @apply font-body text-[1.125rem] leading-[1.75rem]; */
/* } */

/* @utility text-base {
	@apply font-body text-[1rem] leading-[1.5rem];
} */

@utility body-15 {
	@apply font-body text-[0.9375rem] leading-[1.375];
}

@utility text-sm-p {
	@apply font-body text-sm leading-[1.25rem];
}

@utility body-13 {
	@apply font-body text-[0.8125rem] leading-[1.125rem];
}

/* @utility text-xs {
	@apply font-body text-[0.75rem] leading-[1rem];
} */

@utility no-scrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */

	&::-webkit-scrollbar {
		display: none;
		/* Chrome, Safari and Opera */
	}
}

@utility hide-stepper {
	/* Hide the number stepper for input[type="number"] */
	&input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
	& input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
	& input[type="number"] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
}

@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

@layer base {
	* {
		@apply border-border;
		scrollbar-width: thin;
		scrollbar-color: hsl(var(--border)) transparent;
		scroll-behavior: smooth;
	}

	html {
		font-family: "Inter", system-ui, sans-serif;
	}

	body {
		@apply bg-bg-base text-text;
	}

	code[data-line-numbers] {
		counter-reset: line;
	}

	code[data-line-numbers] > [data-line]::before {
		counter-increment: line;
		content: counter(line);

		/* Other styling */
		display: inline-block;
		width: 0.75rem;
		margin-right: 2rem;
		text-align: right;
		color: gray;
	}

	code[data-line-numbers-max-digits="2"] > [data-line]::before {
		width: 1.25rem;
	}

	code[data-line-numbers-max-digits="3"] > [data-line]::before {
		width: 1.75rem;
	}

	code[data-line-numbers-max-digits="4"] > [data-line]::before {
		width: 2.25rem;
	}
}

@layer utilities {
	/* Custom scrollbar styling. */
	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: hsl(var(--border));
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: hsl(var(--border-secondary));
	}

	/* Chrome & other browser puts a background color on autofill inputs,
	 this removes it */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-background-clip: text;
		-webkit-text-fill-color: inherit;
		transition: background-color 5000s ease-in-out 0s;
		box-shadow: inset 0 0 20px 20px transparent;
	}

	.dark img {
		filter: none !important;
	}

	.dark .invert-in-dark {
		filter: invert(1) !important;
	}

	.svg-color {
		fill: var(--color-text);
	}

	.steps {
		counter-reset: step;
	}

	.step::before {
		counter-increment: step;
		content: counter(step);
	}
}
