@theme {
	--breakpoint-custom: 85rem;

	--color-hero-fade-gradient-from: hsla(0, 0%, 98%, 0);
	--color-hero-fade-gradient-to: hsla(0, 0%, 98%, 1);

	--animate-float: float 2s ease-in-out infinite;

	@keyframes float {
		0%,
		100% {
			translate: 0 0;
		}

		50% {
			translate: 0 -12px;
		}
	}

	--animate-beam-flow: beam-flow 4s linear infinite;

	@keyframes beam-flow {
		from {
			stroke-dashoffset: 0;
		}
		to {
			stroke-dashoffset: 1000;
		}
	}

	--animate-beam-flow2: beam-flow2 6s linear 1s infinite;

	@keyframes beam-flow2 {
		from {
			stroke-dashoffset: 0;
			opacity: 1;
		}
		to {
			stroke-dashoffset: 1000;
			opacity: 1;
		}
	}

	--animate-beam-flow3: beam-flow2 3s linear infinite;
}

.dark {
	--color-hero-fade-gradient-from: hsla(260, 6%, 10%, 0);
	--color-hero-fade-gradient-to: hsla(260, 6%, 10%, 1);
}

@layer base {
	* {
		border-color: var(--color-border);
		scrollbar-width: thin;
		scrollbar-color: hsl(var(--border)) transparent;
	}

	html {
		scroll-behavior: smooth;
	}
}

@layer utilities {
	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: hsl(var(--border));
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: hsl(var(--border-secondary));
	}

	.dark img {
		filter: none !important;
	}

	.dark .invert-in-dark {
		filter: invert(1) !important;
	}

	.svg-color {
		fill: var(--color-text);
	}

	.steps {
		counter-reset: step;
	}

	.step::before {
		counter-increment: step;
		content: counter(step);
	}
}

/* 🌞 Light (default) */
.color-success,
.color-green {
	--color-primary: oklch(0.6334 0.171 148.65);
	--color-primary-accent: oklch(0.9685 0.0336 157.66);
	--color-primary-focus: oklch(0.9489 0.0556 156.34);
	--color-primary-hover: oklch(0.6901 0.1748 149.64);
	--color-primary-text: oklch(0.5388 0.1339 149.74);
}

/* 🌙 Dark theme */
.dark .color-success,
.dark .color-green {
	--color-primary: oklch(0.6334 0.171 148.65);
	--color-primary-accent: oklch(0.271 0.0537 151.74);
	--color-primary-focus: oklch(0.3887 0.0924 150.55);
	--color-primary-hover: oklch(0.6901 0.1748 149.64);
	--color-primary-text: oklch(0.871 0.1501 153.14);
}

.color-info,
.color-blue {
	--color-primary: oklch(0.6092 0.2041 255.8);
	--color-primary-accent: oklch(0.949 0.0213 245.85);
	--color-primary-focus: oklch(0.9135 0.0358 249.52);
	--color-primary-hover: oklch(0.6722 0.1615 251.56);
	--color-primary-text: oklch(0.4663 0.1065 251.21);
}

/* 🌙 Dark theme */
.dark .color-info,
.dark .color-blue {
	--color-primary: oklch(0.6092 0.2041 255.8);
	--color-primary-accent: oklch(0.2739 0.0462 248.76);
	--color-primary-focus: oklch(0.3147 0.0668 250.78);
	--color-primary-hover: oklch(0.6722 0.1615 251.56);
	--color-primary-text: oklch(0.829 0.0811 248.83);
}

.color-warning,
.color-yellow {
	--color-primary: oklch(0.8016 0.1705 73.27);
	--color-primary-accent: oklch(0.9622 0.0384 83.83);
	--color-primary-focus: oklch(0.946 0.0574 85.03);
	--color-primary-hover: oklch(0.8342 0.1594 79.51);
	--color-primary-text: oklch(0.5461 0.1088 77.73);
}

/* 🌙 Dark theme */
.dark .color-warning,
.dark .color-yellow {
	--color-primary: oklch(0.8016 0.1705 73.27);
	--color-primary-accent: oklch(0.2663 0.0372 84.34);
	--color-primary-focus: oklch(0.3744 0.0636 81.14);
	--color-primary-hover: oklch(0.8342 0.1594 79.51);
	--color-primary-text: oklch(0.8776 0.1255 82.88);
}

.color-error,
.color-red {
	--color-primary: oklch(0.64 0.22 26.04);
	--color-primary-accent: oklch(0.9465 0.0252 17.61);
	--color-primary-focus: oklch(0.9133 0.0414 17.93);
	--color-primary-hover: oklch(0.6786 0.2095 24.66);
	--color-primary-text: oklch(0.5716 0.2125 27.27);
}

/* 🌙 Dark theme */
.dark .color-error,
.dark .color-red {
	--color-primary: oklch(0.64 0.22 26.04);
	--color-primary-accent: oklch(0.2567 0.0648 22.77);
	--color-primary-focus: oklch(0.2973 0.0922 24.71);
	--color-primary-hover: oklch(0.6786 0.2095 24.66);
	--color-primary-text: oklch(0.7884 0.1226 20.19);
}

.color-primary {
	--color-primary: oklch(0.528 0.2539 282.58);
	--color-primary-accent: oklch(0.94 0.0271 295.05);
	--color-primary-focus: oklch(0.9169 0.0383 295.46);
	--color-primary-hover: oklch(0.5768 0.2279 286.25);
	--color-primary-text: oklch(0.4304 0.202 282.82);
}

.color-grey {
	--color-primary: oklch(0.7 0.011 286.16);
	--color-primary-accent: oklch(0.94 0.0271 295.05);
	--color-primary-focus: oklch(0.9169 0.0383 295.46);
	--color-primary-hover: oklch(0.8 0.011 286.16);
	--color-primary-text: oklch(0.4515 0.0243 285.39);
}

/* 🌙 Dark theme */
.dark .color-primary {
	--color-primary: oklch(0.528 0.2539 282.58);
	--color-primary-accent: oklch(0.2294 0.0753 289.19);
	--color-primary-focus: oklch(0.2538 0.1064 285.61);
	--color-primary-hover: oklch(0.5768 0.2279 286.25);
	--color-primary-text: oklch(0.7757 0.1162 292.43);
}

.rounded-rounded {
	--radius-sm: 9999px;
	--radius-md: 9999px;
	--radius-lg: 9999px;
	--radius-xl: 9999px;
}

.rounded-flat {
	--radius-sm: 0;
	--radius-md: 0;
	--radius-lg: 0;
	--radius-xl: 0;
	--radius-2xl: 0;
	--radius-3xl: 0;
}
