NEXT_PUBLIC_WEBAPP_URL=http://localhost:3001
NEXT_PUBLIC_POSTHOG_KEY=http://localhost:3001
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3001
NEXT_PUBLIC_AHREFS_ANALYTICS_KEY=http://localhost:3001
NEXT_PUBLIC_DEPLOYMENT_ENV=http://localhost:3001



