NEXT_PUBLIC_WEBAPP_URL=http://localhost:3001
NEXT_PUBLIC_POSTHOG_KEY=http://localhost:3001
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3001
NEXT_PUBLIC_AHREFS_ANALYTICS_KEY=http://localhost:3001
NEXT_PUBLIC_DEPLOYMENT_ENV=http://localhost:3001
RADIANUI_REPO_URL=https://github.com/Radian-os/radianos
RADIANUI_GLOBAL_CSS_V4_URL=http://localhost:3001/css/globals.css
RADIANUI_REPO_BRANCH=main



