# Public
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3001
NEXT_PUBLIC_DEPLOYMENT_ENV=DEV
NEXT_PUBLIC_BLOCKS_URL=https://blocks.radianui.com

NEXT_PUBLIC_POSTHOG_KEY=your_posthog_key
NEXT_PUBLIC_AHREFS_ANALYTICS_KEY=your_ahrefs_key

# Server
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=noreply@your-domain.com
