.env
.env.local
.env.development.local
.env.test.local
.env.production.local
next-env.d.ts
.fumadocs/
robots.txt
sitemap-*.xml
sitemap.xml

# Generated build artifacts
src/app/api/components/components.json
src/registry/example/example.json
src/registry/registry-map.ts
src/registry/blocks-example/index.tsx
public/llms.txt
public/llms-full.txt

.source/

tsconfig.tsbuildinfo